body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 20% 10px 20%;
  border-bottom: 1px solid #000;
  background: #F9B572;
}

nav a {
  display: flex;
  justify-content: center;
  width: 15%;
  border-radius: 25%;
  text-decoration: none;
  background-color: rgb(0, 128, 0);
  color: white;
}
/* NAV */

/* HOME */
.bg-light {
  margin: auto;
  width: 70%;
  background: #FFF;
}


main, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 70%;
}

main img {
  width: 20%;
  margin-bottom: 20px;
}
/* HOME */

/* CONTACT */
form {
  width: 50%;
  background-color: #fff;
  margin: 20px auto;

}

legend {
  color: #fff;
  background-color: rgb(0, 128, 0);
}

fieldset ,.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* CONTACT */

/* RESOURCES */
.h1 {
  display: flex;
  justify-content: center;
}

li {
  margin-top: 25px;
  padding-bottom: 25px;
}
/* RESOURCES */

/* GALLERY */


.gallery img {
  width: 33%;
  height: 500px;
}
/* GALLERY */
