body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 20% 10px 20%;
  border-bottom: 1px solid black;
  background: #F9B572;
}

nav a {
  display: flex;
  justify-content: center;
  width: 15%;
  border-radius: 25%;
  text-decoration: none;
  background-color: green;
  color: white;
}
/* NAV */

/* HOME */
.bg-light {
  margin: auto;
  width: 70%;
  background: #fff;
}


main, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 70%;
}

main img {
  width: 20%;
  margin-bottom: 20px;
}
/* HOME */

/* CONTACT */
form {
  width: 50%;
  background-color: #fff;
  margin: 20px auto;

}

legend {
  color: #fff;
  background-color: green;
}

fieldset ,.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* CONTACT */
